<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h2>El tiempo en Valencia</h2>
  <h1><%= @temp %>&deg;</h1>
</body>
</html>


